{% extends 'Soft_Loading/base.html' %}
{% load static%}

{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'Soft_Loading/css/forms.css' %}">
{% endblock %}

{% block body %}
<form class = "s_form">
    <h2>Authorization</h2>
    <label>Username:</label>
    <input class = "s_input" type = "text" id = "username" name = "username" required>
    <label>Password:</label>
    <input class = "s_input" type = "password" id="password" name = "password" required>
    <div class = buttons>
        <button class = "s_button" id = "submit">Login</button>
        <button class = "s_button" id = "cansel">Cansel</button>
    </div>
    <a class = "s_link problem" href ="" >Forgot the password :<</a>

</form>
{% endblock %}