{% load static %}
<div class="path">
            <h4>
            <li>
                <a href="https://freesoft.ru">Бесплатные программы</a>
            </li>
            <li>
            <a href="https://freesoft.ru/windows" itemprop="item">
              <span itemprop="name">Windows</span>
            </a>
            <meta itemprop="position" content="1">
          </li>
                <li>
            <a href="https://freesoft.ru/windows/security-2" itemprop="item">
              <span itemprop="name">Безопасность</span>
            </a>

          </li>
          <li>
            <a href="https://freesoft.ru/windows/firewalls" itemprop="item">
              <span itemprop="name">Firewalls</span>
            </a>
            <meta itemprop="position" content="3">
          </li>
                                <li >
          <a href="https://freesoft.ru/windows/firewalls?sort=last_updated" itemprop="item">
            <span itemprop="name">Последние обновления</span>
          </a>
        </li>

                </h4>
    </div>